div ul {
    list-style: none;
}

div ul li {
    padding: 5px;
}

.today-card {
    border: 1px rgb(65, 65, 65) solid;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(254, 251, 238);
    margin: 20px 20px 50px 20px;
}